.auth-header {
	background-image: url(images/img-1.png);
}

.spinner-border {
    -webkit-animation: spinner-border .3s linear infinite !important;
    animation: spinner-border .3s linear infinite !important
}

.cs-move{
	cursor: move;
}